UI_wp7/UI_wp7/Service References/ServiceReference/web2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="web2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webserviceg2.cloudapp.net/web2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webserviceg2.cloudapp.net/web2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webserviceg2.cloudapp.net/web2.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iweb2_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="Iweb2_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetCurrentCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCity" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetCurrentCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCityResponse" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetPossibleCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleCities" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetPossibleCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetCurrentFamous_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentFamous" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetCurrentFamous_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentFamousResponse" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetProbablySuspects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProbablySuspects" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetProbablySuspects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProbablySuspectsResponse" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetClueByFamous_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClueByFamous" />
  </wsdl:message>
  <wsdl:message name="Iweb2_GetClueByFamous_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClueByFamousResponse" />
  </wsdl:message>
  <wsdl:message name="Iweb2_Travel_InputMessage">
    <wsdl:part name="parameters" element="tns:Travel" />
  </wsdl:message>
  <wsdl:message name="Iweb2_Travel_OutputMessage">
    <wsdl:part name="parameters" element="tns:TravelResponse" />
  </wsdl:message>
  <wsdl:portType name="Iweb2">
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/Iweb2/StartGame" message="tns:Iweb2_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iweb2/StartGameResponse" message="tns:Iweb2_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCity">
      <wsdl:input wsaw:Action="http://tempuri.org/Iweb2/GetCurrentCity" message="tns:Iweb2_GetCurrentCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iweb2/GetCurrentCityResponse" message="tns:Iweb2_GetCurrentCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleCities">
      <wsdl:input wsaw:Action="http://tempuri.org/Iweb2/GetPossibleCities" message="tns:Iweb2_GetPossibleCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iweb2/GetPossibleCitiesResponse" message="tns:Iweb2_GetPossibleCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentFamous">
      <wsdl:input wsaw:Action="http://tempuri.org/Iweb2/GetCurrentFamous" message="tns:Iweb2_GetCurrentFamous_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iweb2/GetCurrentFamousResponse" message="tns:Iweb2_GetCurrentFamous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProbablySuspects">
      <wsdl:input wsaw:Action="http://tempuri.org/Iweb2/GetProbablySuspects" message="tns:Iweb2_GetProbablySuspects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iweb2/GetProbablySuspectsResponse" message="tns:Iweb2_GetProbablySuspects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClueByFamous">
      <wsdl:input wsaw:Action="http://tempuri.org/Iweb2/GetClueByFamous" message="tns:Iweb2_GetClueByFamous_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iweb2/GetClueByFamousResponse" message="tns:Iweb2_GetClueByFamous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Travel">
      <wsdl:input wsaw:Action="http://tempuri.org/Iweb2/Travel" message="tns:Iweb2_Travel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iweb2/TravelResponse" message="tns:Iweb2_Travel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iweb2" type="tns:Iweb2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/Iweb2/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCity">
      <soap:operation soapAction="http://tempuri.org/Iweb2/GetCurrentCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPossibleCities">
      <soap:operation soapAction="http://tempuri.org/Iweb2/GetPossibleCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentFamous">
      <soap:operation soapAction="http://tempuri.org/Iweb2/GetCurrentFamous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProbablySuspects">
      <soap:operation soapAction="http://tempuri.org/Iweb2/GetProbablySuspects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClueByFamous">
      <soap:operation soapAction="http://tempuri.org/Iweb2/GetClueByFamous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Travel">
      <soap:operation soapAction="http://tempuri.org/Iweb2/Travel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="web2">
    <wsdl:port name="BasicHttpBinding_Iweb2" binding="tns:BasicHttpBinding_Iweb2">
      <soap:address location="http://webserviceg2.cloudapp.net/web2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>