tags/WP7_12_0/WP7/WP7/Service References/ServiceReference/InterpoolWP743.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pis2010.cloudapp.net/Services/InterpoolWP7.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Game" nillable="true" type="tns:Game" />
          <xs:element minOccurs="0" name="GameReference" nillable="true" type="q1:EntityReferenceOfGameNLhZOR8W" />
          <xs:element minOccurs="0" name="Level" nillable="true" type="tns:Level" />
          <xs:element minOccurs="0" name="LevelLevelId" type="xs:int" />
          <xs:element minOccurs="0" name="LevelReference" nillable="true" type="q1:EntityReferenceOfLevelNLhZOR8W" />
          <xs:element minOccurs="0" name="SubLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserBirthday" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserCinema" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserGender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserHometown" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserIdFacebook" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserLoginId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserMusic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserPictureLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserTelevision" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserTokenFacebook" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Game">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeadLine" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GameId" type="xs:int" />
          <xs:element minOccurs="0" name="GameTime" type="xs:short" />
          <xs:element minOccurs="0" name="NodePath" nillable="true" type="tns:ArrayOfNodePath" />
          <xs:element minOccurs="0" name="OrderOfArrest" nillable="true" type="tns:OrderOfArrest" />
          <xs:element minOccurs="0" name="OrderOfArrestReference" nillable="true" type="q2:EntityReferenceOfOrderOfArrestNLhZOR8W" />
          <xs:element minOccurs="0" name="PossibleSuspect" nillable="true" type="tns:ArrayOfSuspect" />
          <xs:element minOccurs="0" name="Suspect" nillable="true" type="tns:Suspect" />
          <xs:element minOccurs="0" name="SuspectReference" nillable="true" type="q2:EntityReferenceOfSuspectNLhZOR8W" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q2:EntityReferenceOfUserNLhZOR8W" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfNodePath">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodePath" nillable="true" type="tns:NodePath" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodePath" nillable="true" type="tns:ArrayOfNodePath" />
  <xs:complexType name="NodePath">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="tns:City" />
          <xs:element minOccurs="0" name="CityReference" nillable="true" type="q3:EntityReferenceOfCityNLhZOR8W" />
          <xs:element minOccurs="0" name="Clue" nillable="true" type="tns:ArrayOfClue" />
          <xs:element minOccurs="0" name="Famous" nillable="true" type="tns:ArrayOfFamous" />
          <xs:element minOccurs="0" name="Game" nillable="true" type="tns:Game" />
          <xs:element minOccurs="0" name="GameReference" nillable="true" type="q3:EntityReferenceOfGameNLhZOR8W" />
          <xs:element minOccurs="0" name="NodePathCurrent" type="xs:boolean" />
          <xs:element minOccurs="0" name="NodePathId" type="xs:int" />
          <xs:element minOccurs="0" name="NodePathOrder" type="xs:int" />
          <xs:element minOccurs="0" name="PossibleCities" nillable="true" type="tns:ArrayOfCity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NodePath" nillable="true" type="tns:NodePath" />
  <xs:complexType name="City">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CityCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityId" type="xs:int" />
          <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityNumber" type="xs:int" />
          <xs:element minOccurs="0" name="CityProperty" nillable="true" type="tns:ArrayOfCityProperty" />
          <xs:element minOccurs="0" name="Clue" nillable="true" type="tns:ArrayOfClue" />
          <xs:element minOccurs="0" name="Famous" nillable="true" type="tns:ArrayOfFamous" />
          <xs:element minOccurs="0" name="Latitud" type="xs:int" />
          <xs:element minOccurs="0" name="Level" nillable="true" type="tns:Level" />
          <xs:element minOccurs="0" name="LevelLevelId" type="xs:int" />
          <xs:element minOccurs="0" name="LevelReference" nillable="true" type="q4:EntityReferenceOfLevelNLhZOR8W" />
          <xs:element minOccurs="0" name="Longitud" type="xs:int" />
          <xs:element minOccurs="0" name="NameFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NodePath" nillable="true" type="tns:ArrayOfNodePath" />
          <xs:element minOccurs="0" name="NodePath_1" nillable="true" type="tns:ArrayOfNodePath" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfCityProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityProperty" nillable="true" type="tns:CityProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityProperty" nillable="true" type="tns:ArrayOfCityProperty" />
  <xs:complexType name="CityProperty">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="tns:City" />
          <xs:element minOccurs="0" name="CityPropertyContent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityPropertyId" type="xs:int" />
          <xs:element minOccurs="0" name="CityReference" nillable="true" type="q5:EntityReferenceOfCityNLhZOR8W" />
          <xs:element minOccurs="0" name="Dyn" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CityProperty" nillable="true" type="tns:CityProperty" />
  <xs:complexType name="ArrayOfClue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clue" nillable="true" type="tns:Clue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClue" nillable="true" type="tns:ArrayOfClue" />
  <xs:complexType name="Clue">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="tns:City" />
          <xs:element minOccurs="0" name="CityReference" nillable="true" type="q6:EntityReferenceOfCityNLhZOR8W" />
          <xs:element minOccurs="0" name="ClueContent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClueId" type="xs:int" />
          <xs:element minOccurs="0" name="Famous" nillable="true" type="tns:Famous" />
          <xs:element minOccurs="0" name="FamousReference" nillable="true" type="q6:EntityReferenceOfFamousNLhZOR8W" />
          <xs:element minOccurs="0" name="NodePath" nillable="true" type="tns:ArrayOfNodePath" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Clue" nillable="true" type="tns:Clue" />
  <xs:complexType name="Famous">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="tns:City" />
          <xs:element minOccurs="0" name="CityReference" nillable="true" type="q7:EntityReferenceOfCityNLhZOR8W" />
          <xs:element minOccurs="0" name="Clue" nillable="true" type="tns:ArrayOfClue" />
          <xs:element minOccurs="0" name="FamousId" type="xs:int" />
          <xs:element minOccurs="0" name="FamousName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameFileFamous" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="New" nillable="true" type="tns:ArrayOfNew" />
          <xs:element minOccurs="0" name="NodePath" nillable="true" type="tns:ArrayOfNodePath" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Famous" nillable="true" type="tns:Famous" />
  <xs:complexType name="ArrayOfNew">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="New" nillable="true" type="tns:New" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNew" nillable="true" type="tns:ArrayOfNew" />
  <xs:complexType name="New">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Famous" nillable="true" type="tns:Famous" />
          <xs:element minOccurs="0" name="FamousReference" nillable="true" type="q8:EntityReferenceOfFamousNLhZOR8W" />
          <xs:element minOccurs="0" name="NewContent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="New" nillable="true" type="tns:New" />
  <xs:complexType name="ArrayOfFamous">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Famous" nillable="true" type="tns:Famous" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamous" nillable="true" type="tns:ArrayOfFamous" />
  <xs:complexType name="Level">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupFacebookId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LevelId" type="xs:int" />
          <xs:element minOccurs="0" name="LevelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LevelNumber" type="xs:int" />
          <xs:element minOccurs="0" name="TimeToAdd" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Level" nillable="true" type="tns:Level" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="OrderOfArrest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderOfArrestId" type="xs:int" />
          <xs:element minOccurs="0" name="Suspect" nillable="true" type="tns:Suspect" />
          <xs:element minOccurs="0" name="SuspectReference" nillable="true" type="q10:EntityReferenceOfSuspectNLhZOR8W" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderOfArrest" nillable="true" type="tns:OrderOfArrest" />
  <xs:complexType name="Suspect">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Game" nillable="true" type="tns:ArrayOfGame" />
          <xs:element minOccurs="0" name="Game_1" nillable="true" type="tns:Game" />
          <xs:element minOccurs="0" name="Game_1Reference" nillable="true" type="q11:EntityReferenceOfGameNLhZOR8W" />
          <xs:element minOccurs="0" name="SuspectBirthday" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectCinema" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectFacebookId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectGender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectHometown" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectId" type="xs:int" />
          <xs:element minOccurs="0" name="SuspectLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectMusic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectPicLInk" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuspectTelevision" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Suspect" nillable="true" type="tns:Suspect" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="ArrayOfSuspect">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Suspect" nillable="true" type="tns:Suspect" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuspect" nillable="true" type="tns:ArrayOfSuspect" />
</xs:schema>