trunk/WP7/WP7/WP7/Service References/ServiceReference/InterpoolWP74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pis2010.cloudapp.net/Services/InterpoolWP7.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" />
  <xs:import schemaLocation="http://pis2010.cloudapp.net/Services/InterpoolWP7.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Data" />
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdFacebookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="GetCurrentCityResult" nillable="true" type="q1:DataCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="GetPossibleCitiesResult" nillable="true" type="q2:ArrayOfDataCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentFamous">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numClue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentFamousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="GetCurrentFamousResult" nillable="true" type="q3:DataFamous" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterSuspects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="fbud" nillable="true" type="q4:DataFacebookUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterSuspectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="FilterSuspectsResult" nillable="true" type="q5:DataListFacebookUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitOrderOfArrest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userIdFacebookSuspect" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitOrderOfArrestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="GetCitiesResult" nillable="true" type="q6:ArrayOfDataCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Travel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameNextCity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TravelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="TravelResult" nillable="true" type="q7:DataCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClueByFamous">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdFacebook" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numFamous" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClueByFamousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" minOccurs="0" name="GetClueByFamousResult" nillable="true" type="q8:DataClue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Data" minOccurs="0" name="user" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>