trunk/WP7/WP7/WP7/Service References/ServiceReference/InterpoolWP7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.Datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Services/InterpoolWP7.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.FacebookCommunication" />
  <xs:complexType name="DataCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityNumber" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeadLine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameInfo" nillable="true" type="tns:DataGameInfo" />
      <xs:element minOccurs="0" name="GameTime" type="xs:double" />
      <xs:element minOccurs="0" name="Left" type="xs:double" />
      <xs:element minOccurs="0" name="NameCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameFileCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Top" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataCity" nillable="true" type="tns:DataCity" />
  <xs:complexType name="DataGameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiffInDays" type="xs:int" />
      <xs:element minOccurs="0" name="DiffInMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="DiffInseconds" type="xs:int" />
      <xs:element minOccurs="0" name="LinkBigSuspect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:long" />
      <xs:element minOccurs="0" name="ScoreWin" type="xs:long" />
      <xs:element minOccurs="0" name="SuspectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="newLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="tns:GameState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataGameInfo" nillable="true" type="tns:DataGameInfo" />
  <xs:simpleType name="GameState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PL" />
      <xs:enumeration value="LOSE_NEOA" />
      <xs:enumeration value="LOSE_EOAW" />
      <xs:enumeration value="LOSE_TO" />
      <xs:enumeration value="WIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:complexType name="ArrayOfDataCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataCity" nillable="true" type="tns:DataCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataCity" nillable="true" type="tns:ArrayOfDataCity" />
  <xs:complexType name="DataFamous">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileFamous" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameFamous" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataFamous" nillable="true" type="tns:DataFamous" />
  <xs:complexType name="DataFacebookUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cinema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hometown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFriend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Music" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InterpoolCloudWebRole.FacebookCommunication" minOccurs="0" name="OAuth" nillable="true" type="q1:OAuthFacebook" />
      <xs:element minOccurs="0" name="PictureLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Television" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataFacebookUser" nillable="true" type="tns:DataFacebookUser" />
  <xs:complexType name="DataListFacebookUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameInfo" nillable="true" type="tns:DataGameInfo" />
      <xs:element minOccurs="0" name="ListFacebookUser" nillable="true" type="tns:ArrayOfDataFacebookUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataListFacebookUser" nillable="true" type="tns:DataListFacebookUser" />
  <xs:complexType name="ArrayOfDataFacebookUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataFacebookUser" nillable="true" type="tns:DataFacebookUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataFacebookUser" nillable="true" type="tns:ArrayOfDataFacebookUser" />
  <xs:complexType name="DataClue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameInfo" nillable="true" type="tns:DataGameInfo" />
      <xs:element minOccurs="0" name="States" type="tns:GameState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataClue" nillable="true" type="tns:DataClue" />
</xs:schema>