UI_wp7/Service References/ServiceReference/ServiceWP7.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWP7" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://servicewp7.cloudapp.net/ServiceWP7.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://servicewp7.cloudapp.net/ServiceWP7.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://servicewp7.cloudapp.net/ServiceWP7.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWP7_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetClueByFamous_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClueByFamous" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetClueByFamous_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClueByFamousResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetCurrentCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCity" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetCurrentCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCityResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetPossibleCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleCities" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetPossibleCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetCurrentFamous_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentFamous" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetCurrentFamous_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentFamousResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_Travel_InputMessage">
    <wsdl:part name="parameters" element="tns:Travel" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_Travel_OutputMessage">
    <wsdl:part name="parameters" element="tns:TravelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetProbablySuspects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProbablySuspects" />
  </wsdl:message>
  <wsdl:message name="IServiceWP7_GetProbablySuspects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProbablySuspectsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWP7">
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/GetCities" message="tns:IServiceWP7_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/GetCitiesResponse" message="tns:IServiceWP7_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClueByFamous">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/GetClueByFamous" message="tns:IServiceWP7_GetClueByFamous_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/GetClueByFamousResponse" message="tns:IServiceWP7_GetClueByFamous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/StartGame" message="tns:IServiceWP7_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/StartGameResponse" message="tns:IServiceWP7_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/GetCurrentCity" message="tns:IServiceWP7_GetCurrentCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/GetCurrentCityResponse" message="tns:IServiceWP7_GetCurrentCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/GetPossibleCities" message="tns:IServiceWP7_GetPossibleCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/GetPossibleCitiesResponse" message="tns:IServiceWP7_GetPossibleCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentFamous">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/GetCurrentFamous" message="tns:IServiceWP7_GetCurrentFamous_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/GetCurrentFamousResponse" message="tns:IServiceWP7_GetCurrentFamous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Travel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/Travel" message="tns:IServiceWP7_Travel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/TravelResponse" message="tns:IServiceWP7_Travel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProbablySuspects">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWP7/GetProbablySuspects" message="tns:IServiceWP7_GetProbablySuspects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWP7/GetProbablySuspectsResponse" message="tns:IServiceWP7_GetProbablySuspects_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWP7" type="tns:IServiceWP7">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClueByFamous">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/GetClueByFamous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCity">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/GetCurrentCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPossibleCities">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/GetPossibleCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentFamous">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/GetCurrentFamous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Travel">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/Travel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProbablySuspects">
      <soap:operation soapAction="http://tempuri.org/IServiceWP7/GetProbablySuspects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWP7">
    <wsdl:port name="BasicHttpBinding_IServiceWP7" binding="tns:BasicHttpBinding_IServiceWP7">
      <soap:address location="http://servicewp7.cloudapp.net/ServiceWP7.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>